body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("https://cdn.discordapp.com/attachments/814533488350724097/933048892398915584/beatriz-perez-moya-XN4T2PVUUgk-unsplash.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://cdn.pixabay.com/photo/2013/04/04/12/34/mountains-100367_960_720.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#ded {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example2 {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:rgb(32, 207, 230); left:120px; top:0px;}
  50%  {background-color:blue; left:120px; top:120px;}
  75%  {background-color:green; left:0px; top:120px;}
  100% {background-color:rgb(255, 0, 255); left:0px; top:0px;}
}
#ded2 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example3 {
  0%   {background-color:red; }
  25%  {background-color:rgb(12, 241, 154); }
  50%  {background-color:blue;}
  75%  {background-color:green;}
  100% {background-color:rgb(255, 0, 255);}
}