ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }

  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  .social-network a.icoGoogle:hover {
    background-color: #EA4335;
  }
  .social-network a.icoTwitter:hover {
    background-color: #00ACEE;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i,
  .social-network a.icoGoogle:hover i,
  .social-network a.icoTwitter:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 10px;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
 
  .jumbotron{
      background-color:#003726 ;
      margin-top:2rem
  }
  
  .name{
    font-family: "Inter",sans-serif;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  
  .desgn {
    margin: 10px;
  }

  .aboutconor {
    margin-bottom: 100px;
    font-family: 'Inter', sans-serif;
  }
.desgn{
    font-family: "Saol",serif;
    font-size: 2rem;
    line-height: 1.3333333333;
    font-weight: 400;
}
.hr{
    height:1px;
    width: 20%;
    border-width:4px;
    margin:auto;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}
