.header {
  background-color: #fff;
  padding: 15px 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
  .topnav {
    overflow: visible;
    background-color: #005844;
    height: 47.9px;
  }
  .nav-container{
    background-color: #005844;
    top: 0;
    z-index: 999;
    position: sticky;
  }
  
  .topnav{
    top: 0;
    z-index: 999999;
    position: sticky;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.7rem 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 1pt;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  /*Dropdown*/
  .sub-menu{
    display: none;
    align-content: center;
  }
  .intern-menu{
    display: inline-grid;
  }
  .topnav .intern-menu:hover .sub-menu{
    display: block;
    position: absolute;;
    background-color: #005844;
    top: 47.9px;
  }

  .topnav .intern-menu:hover .sub-menu ul{
    display: block;
    list-style: none;
    padding: 10px;
  }
  .sub-menu li:hover{
    background-color: #ddd;
  }
  .submenu-links{
    background-color: #005844;
    float: none;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.7rem 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 1pt;
    
  }
  .submenu-links{
    background-color: #005844;
    float: none;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.7rem 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 1pt;
    
  }

  
  @media screen and (max-width: 1000px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 1000px) {
    .topnav {
      overflow: hidden;
      background-color: #005844;
      height: auto;
    }
  }

  
  @media screen and (max-width: 1000px) {
    .topnav.responsive {position: sticky;}
    .topnav.responsive .icon {
      position: sticky;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .header-logo {
    width: 170px;
    height: 150%;
  }

  @media screen and (max-width: 700px) {
    #ul-logo-head {display: none;}
    .header{
      display: flex;
      justify-content: center;
    }
  }


/* Footer */
  #footer {
    background-color: #16211f;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  #footer h6 a{
    text-decoration: none;
    color: #fff;
  }
  #footer p{
    line-height: 2;
  }

  
  .foot-list-title{
    height: 3rem;
    font-weight: bolder;
  }
  
  .logo {
    height: 8rem;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }

  .footericons a{
    color: white;
  }
  .footer-credits{
    word-spacing:-0.5pt;
    float: right;
    font-size: 0.9rem;
  }
  .footer-credits a{
    text-decoration: none;
    color: inherit;
    margin: 0 0.4rem ;
    

  }
  .footer-credits a:hover{
    text-decoration: none;
    color: inherit;

    
  
    color: white;
  }


  @media screen and (max-width: 600px) {
    .credit-name{
      display: block;
    }
    .footer-credits{
      float: none;
    }
  }