.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

.C{
   vertical-align: middle;
    padding: 60px 0;
}

  .image-block {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  .image-block-inner {
    -webkit-box-shadow: 0px 3px 10px 1px rgba(204, 204, 204 0, 1);
    -moz-box-shadow: 0px 3px 10px 1px rgba(204, 204, 204 0, 1);
    box-shadow: 0px 3px 10px 1px rgba(204, 204, 204, 1);
  }

  .image-block li>.image-block-inner {
    padding-bottom: 30px;
    background-color: #fff;
    height: 100%;
  }

  .news {
    text-decoration-color: none;
  }

  a {
    color: #989da0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  h2 {
    text-transform: uppercase;
  }

  a:hover {
    text-decoration: none;
  }

  .image-block li>.image-block-inner>a {
    display: block;
    overflow: hidden;
  }

  .image-block li>.image-block-inner>a img {
    border: 1px solid #e1e1df;
    max-width: 100%;

  }

  .image-block li>.image-block-inner:hover {
    background-color: #eee;
  }

.mt-3{
    font-family: 'Inter', sans-serif;
    text-decoration-color: #989da0;
}

  .hp-posts-cat {
    margin-bottom: 13px;
    margin-top: 35px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1rem;
    display: inline-block;
    font-family: "Inter",sans-serif;
    line-height: 1.2;
  }

  .news .image-block li>.image-block-inner h4,
  .hp-posts-cat,
  .news .image-block li>.image-block-inner p,
  .read-more {
    padding: 0 28px;
  }

  .read-more {
    display: block;
    text-decoration: underline;
    margin-top: 30px;
    font-weight: 600;
  }

  /* Media Queries */

  @media (min-width: 992px) {
    .col-md-5 {
      width: 41.66667%;
    }
  }

  @media (min-width: 768px) {
    .image-block li.image-block1 {
      padding-left: 26px;
      padding-right: 14.5px;
    }
  }

  @media (min-width: 1200px) {
    .image-block li>.image-block-inner>a {
      max-height: 245px;
    }
  }

  @media (min-width: 992px) {

    .pl-lg-0,
    .px-lg-0 {
      padding-left: 0;
      padding-right: 0;
    }

    .ml-lg-0,
    .mx-lg-0 {
      margin-left: 0;
      margin-right: 0;
    }
  }

   .name{
     font-family: "Inter",sans-serif;
   }

   .social-network a {
     background-color: #F9F9F9;
   }

   .desgn {
     margin: 10px;
   }

   .aboutproject {
     margin-bottom: 100px;
     font-family: 'Inter', sans-serif;
   }
 .desgn{
     font-family: "Saol",serif;
     font-size: 2rem;
     line-height: 1.3333333333;
     font-weight: 400;
 }
 .hr{
     height:1px;
     width: 20%;
     border-width:4px;
     margin:auto;
     border-color: rgb(255, 255, 255);
     background-color: rgb(255, 255, 255);
 }
