* {
  box-sizing: border-box;
}

.bds-logo {
  height: 100%;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 40rem;
  height: auto;
  object-fit: fill;
}

.image1 {
  display: block;
  width: 26rem;
  height: 100%;
  padding: 1%;
  object-fit: fill;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

* {
  margin: 0;
}

/*News*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.onoffswitch3
{
    position: relative;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: 'Montserrat', sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
}

.onoffswitch3-inner .onoffswitch3-inactive {
    width: 100px;
    padding-left: 16px;
    background-color: #EEEEEE; color: #FFFFFF;
    text-align: right;
}

.onoffswitch3-switch {
    display: block; width: 50%; margin: 0px; text-align: center;
    border: 0px solid #999999;border-radius: 0px;
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
    background: #27A1CA; left: 0;
    width: 160px;
}
.onoffswitch3-inactive{
    background: #A1A1A1; right: 0;
    width: 20px;
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}

.glyphicon-remove{
    padding: 3px 0px 0px 0px;
    color: #fff;
    background-color: #000;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    border: 2px solid #fff;
}

.scroll-text{
    color: #000;
}

body {
  font-family: Montserrat;
  text-align: center;
}

.header {
  background-color: #fff;
  padding: 15px 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.search{
  height: 45px;
}
.search-form {
  margin: auto;
  height: 100%;
}

.search-form input[type=text] {
  padding: 10px;
  height: 100%;
  border: none;
  font-size: 1rem;
  font-family: sans-serif;
  border: 2px solid #2E8C55;
}

.search-btn {
  height: 100%;
  float: right;
  padding: 10px;
  background: #2E8C55;
  color: white;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  border: none;
}

/* Nav Bar*/
.nav-bar {
  margin: 0;
  padding: 0;
  background-color: #005844;
  top: 0;
  z-index: 9999;
  position: sticky;
  overflow: hidden;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0 7rem;
  display: flex;
}

nav li {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  display: block;
}

nav a:hover {
  background-color: #35A176;
  text-decoration: none;
  color: #fff;
}

.active a {
  background-color: #0F3D31;
}

.foot-bar a{
  text-decoration: none;
  color: #fff;
}
/* Unsorted*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold', sans-serif;
}

p {
  color: #afafaf;
}

/* Headings */
.Big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;

}

.section-headings {
  font-size: 3rem;
  line-height: 1.5;
}

/* sections */
.coloured-section {
  background-color: #005844;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #000;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

/* Login and sign up buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* cotainers */
.container-fluid {
  padding: 7% 15%;
}

/* title image */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.put {
  color: #ef8172;
  margin-bottom: 2rem;
}

.put:hover {
  color: #ff4c68;
}

/*News and notifications*/
#updates {
  text-align: center;
  padding: 2%;
}
.titles{
  text-align: left;
  border-bottom: 3px solid #005844 ;
}
/* press */
#press {
  text-align: center;
  padding-bottom: 3%;
}

.press-logos {
  width: 8%;
  margin: 2%;
}

/* Grid section */
#Grid {
  padding: 100px;
}

.social-icon {
  margin: 20px 10px;
}

/* Call to Action */
@media (max-width:1020px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

/* Footer */
#footer1 {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.foot-bar {
  background-color: #003726;
  justify-content: space-between;
  align-items: center;
  padding-right: 4%;
}

div.vl {
  border-left: 4px solid #003726;
  height: 160px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  div.vl {
    display: none;
  }
}

.logo {
  height: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
