* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: left;
  color: black;

}
body,p{
  font-family: 'Inter', sans-serif;
}
 h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}
h1, h2{
  font-family: 'Cormorant Garamond', serif;
}


.inbody{
  background-color: #fff;
}
.jumbotron{
  background-color:#003726 ;
  margin: top 0rem;
}
.top-section{
  margin-top: 4rem;
  padding-bottom: 4rem;
}
.mid-section{
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: 'Inter', sans-serif;
}
.section-heading{
  font-family: 'Cormorant Garamond', serif;
  font-size: 4rem;
}
.section-title{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;

}
.image {
  display: block;
  width: 40rem;
  height: auto;
  object-fit: fill;
}

.image1 {
  display: block;
  width: 26rem;
  height: 100%;
  padding: 1%;
  object-fit: fill;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
}

.container:hover .overlay {
  opacity: 1;
}



/* Unsorted*/

p {
  color: #afafaf;
}

.hr{
  height:1px;
  width: 20%;
  border-width:4px;
  margin:auto;
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
.name{
  font-family: "Inter",sans-serif;
}


.section-headings {
  font-size: 3rem;
  line-height: 1.5;
}

/* sections */
.coloured-section {
  background-color: #005844;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #000;
}



/* Login and sign up buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* cotainers */
.container-fluid {
  padding: 2% 10%;
}

/* title image */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.put {
  color: #ef8172;
  margin-bottom: 2rem;
}

.put:hover {
  color: #ff4c68;
}

/*News and notifications*/
#updates {
  padding: 2%;
}


/* press */


.sponsor-box{
  position: relative;
  height: 200px;
  margin-top:20px;
  border: 2px solid black;
}
.press-logos {
  width: 150px;
  position: absolute;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

/* Grid section */
#Grid {
  padding: 100px;
}

.social-icon {
  margin: 20px 10px;
}

/* Call to Action */
@media (max-width:1020px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}



/* Cookie Card */
.modal-content{
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.card {
  width: 400px;
  flex-direction: column;
  min-width: 0;
  color: #fff;
  word-wrap: break-word;
  background-color: #000;
  background-clip: border-box;
  border: 1px solid #000;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.cookie a {
  text-decoration: none;
  color: #000;
  margin-top: 8px;
  font-size: 12px
}

.cookie a {
  text-decoration: none;
  color: #fff;
  margin-top: 8px
}

.decline {
  cursor: pointer
}
/* Table */
.thead-ulgreen{
  background-color: #005844;
  color: #fff;
}
